.subtitle {
    font-size: 50px;
}

@media (max-width: 1024px){
    hr {
        width: 900px;
    }

    .subtitle {
        width: 1000px;
        font-size: 45px;
    }
}

@media (max-width: 768px){
    .subtitle {
        font-size: 36px;
    }

    hr {
        width: 700px;
    }

    .hero-body h2 {
        font-size: 34px;
    }
}

@media (max-width: 425px) {
    .subtitle, .hero-body h2 {
        font-size: 21px;
    }
}