#insights {
    flex-wrap: wrap;
    min-width: 300;
    margin-top: 70px;
    font-family: 'Montserrat';
}

.our-insights {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 50px;
    font-weight: bold;
}

.desc {
    line-height: 2;
}


/* ******** 1024 ************ */
@media (max-width: 1024px) {
    .our-insights {
        font-size: 35px;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .desc {
        font-size: 1.22rem;
    }
}


/* ********* 768 **************** */
@media (max-width: 768px) {
    .our-insights {
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 25px;

    }
    .desc {
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 35px;
        line-height: 1.5;
    }
}


/* ********** 425 ************* */
@media (max-width: 425px) {
    .our-insights {
        font-size: 22px;
        margin-top: 70px;
        margin-bottom: 15px;
    }

    .desc {
        font-size: 12px;
    }
}


/* ************ 375 ***************** */
@media (max-width: 375px) {
    .our-insights {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 14px;
    }

    .desc {
        font-size: 11px;
        margin-bottom: 22px;
        margin-left: 15px;
        margin-right: 15px;
    }
}


/* ********** 320 *********** */
@media (max-width: 320px) {
    .our-insights {
        font-size: 18px;
        margin-top: 70px;
        margin-bottom: 12px;
    }

    .desc {
        font-size: 10px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 20px;
    }
}