#header span {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 15px;
}

@media (max-width: 1024px){
    #header span {
        font-size: 15px;
    }

    a.MuiButtonBase-root {
        padding-left: 30px;
        padding-right: 0px;
    }

    .logo {
        height: 45px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .navbar-buttons {
        display: none;
    }

    #header {
        height: 48px;
    }

    .logo {
        height: 30px;
    }

    .toolbar {
        min-height: 48px;
    }
}

@media (min-width: 769px){
    .burger {
        display: none;
    }
}

@media (max-width: 425px){
    .logo {
        height: 25px;
        overflow: hidden;
    }
    img {
        height: 25px;
        width: 116px;
    }
}