.footer-text {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 17px;
}

#footer {
    font-family: "Montserrat";
    /* height: 20px; */
}

@media (max-width: 1024px) {
    .footer-text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .footer-text {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .footer-text {
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (max-width: 320px) {
    .footer-text {
        font-size: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}