#about-section {
    font-family: "Montserrat";
}

.who-we-are {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    padding-top: 60px;
}

.about {
    font-size: 25px;
    margin-left: 108px;
    margin-right: 108px;
    overflow: hidden;
}

.photoshoot1 {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 1000px;
    height: auto;
}

.photoshoot2 {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 1000px;
    height: auto;
}

.iie-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-mission {
    font-size: 35px;
    padding-top: 60px;
    padding-left: 80px;
    margin-bottom: 10px;
    font-weight: bold;
}

.mission {
    font-size: 25px;
    margin-left: 95px;
    padding-left: 20px;
    padding-right: 25px;
    border-left: 1px solid #1b2a52;
}

.ourmission {
    overflow: hidden;
}

@media (max-width: 1024px){
    .photoshoot1 {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 900px;
    }

    .who-we-are {
        font-size: 45px;
        padding-top: 60px;
        margin-bottom: 0px;
    }

    .about {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .who-we-are {
        font-size: 35px;
        margin-bottom: 10px;
        padding-top: 40px;
    }

    .photoshoot1 {
        width: 700px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .photoshoot2 {
        width: 672px;
        margin-bottom: 70px;
    }

    .our-mission {
        padding-left: 30px;
        padding-top: 30px;
        font-size: 20px;
    }

    .mission {
        font-size: 18px;
        margin-left: 40px;
    }

    .about {
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .iie-image {
        width: 400px;
    }

    .about {
        font-size: 17px;
    }
}

@media (max-width: 425px) {
    .photoshoot1 {
        width: 393px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .photoshoot2 {
        width: 361px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .who-we-are {
        font-size: 25px;
        margin-bottom: 15px;
        padding-top: 30px;
    }

    .about {
        font-size: 15px;
        margin: 0px;
    }

    .iie-image {
        width: 300px;
        height: auto;
    }

    .our-mission {
        font-size: 20px;
        margin-bottom: 7px;
        padding-top: 20px;
        padding-left: 10px;
    }

    .mission {
        margin-left: 17px;
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .photoshoot1 {
        width: 343px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .about {
        font-size: 12px;
    }

    .who-we-are {
        padding-top: 25px;
        margin-bottom: 0px;
        font-size: 20px;
    }

    .our-mission {
        font-size: 16px;
        padding-top: 10px;
    }

    .mission {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .photoshoot1 {
        width: 288px;
        margin-top: 10px;
    }

    .photoshoot2 {
        width: 256px;
        margin-bottom: 25px;
    }

    .who-we-are {
        font-size: 18px;
        padding-top: 15px;
    }

    .our-mission {
        font-size: 15px;
        padding-top: 15px;
        padding-left: 0px;
    }

    .about {
        font-size: 11px;
    }

    .mission {
        margin-left: 6px;
        padding-left: 6px;
        font-size: 9px;
    }

    .iie-image {
        width: 200px;
    }
}